<div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="postId">
        <mat-header-cell *matHeaderCellDef> PostId </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.postId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="body">
        <mat-header-cell *matHeaderCellDef> Body </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.body}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
